.album {
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  margin-top: 40px;

  &__music {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 80vh;
    margin-bottom: 20px;
    margin-top: 50px;
  }
}

.title-album {
    text-transform: uppercase;

  &--titlepink {
    color: var(--pinktitle);
  }

  &--titleblack {
    color: var(--blacktitle);
  }
}
