.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    padding: 0 150px;
  }

  &--pink {
    background: var(--pink);
  }

  &__logo {
    width: 160px;
    height: 100px;
    padding: 0;
    flex-shrink: 0;
    background: url("../img/logo.png") center no-repeat;
    background-size: 100%;
  }

  &__text {
    font-size: 20px;
  }

}
