.bottom {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--pink {
    width: 100%;
    background: var(--pink);
  }

  &__logo {
    width: 160px;
    height: 100px;
    padding: 0;
    flex-shrink: 0;
    background: url("../img/logo.png") center no-repeat;
    background-size: 100%;
  }

  &__container {
    padding-left: 10px;
  }

}
