.button {
    background: var(--pink);
    color: white;
    text-transform: uppercase;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    justify-content: center;
    display: inline-block;
    padding: 15px 10px;
    letter-spacing: 1px;
    font-size: 25px;
    border-radius: 15px;
    z-index: 10;

    &:hover {
    }
}
