.header {
  overflow: hidden;
  /*position: fixed;*/

  &__logo {
    background: url("../img/logo.png") center no-repeat;
    background-size: 100%;
    width: 150px;
    height: 110px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    margin-right: 100px;
    margin-left: 20px;
  }

  &__item {
    margin-right: 50px;
    font-family: var(--gilroy);
    font-size: 20px;
  }

  &--pink {
    width: 100%;
    background: var(--pink);
  }
}
