.icon {
 &__item {
   width: 50px;
   height: 50px;
 }
  &--instagram {
    background: url("../img/instagram.svg") no-repeat;
  }
  &--twitter {
    background: url("../img/twitter.svg") no-repeat;
  }
  &--facebook {
    background: url("../img/facebook.svg") no-repeat;
  }
  &--telegram {
    background: url("../img/telegram.svg") no-repeat;
  }
  &--youtube {
    background: url("../img/youtube.svg") no-repeat;
  }
  &--apple {
    background: url("../img/apple.svg") no-repeat;
  }
}
