.news {
  background: white;

  &__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0 0;

    @media (--tablet) {
      flex-wrap: wrap;
    }

    @media (--mobile) {
      display: block;
      padding: 0;
    }
  }
}
