.newspage {
  min-height: 100vh;

  &__container {
    padding: 100px 150px;

    @media (--mobile) {
      padding-top: 70px;
      padding-bottom: 10px;
      padding-left: 0px;
      padding-right: 0px;
    }
}
