.youtube {
  background: rgb(29,31,33);
  background-size: cover;
  min-height: 70vh;
  width: 100%;
  text-align: center;

  &__video {
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bot {
  width: 100%;
  padding-bottom: 50px;
}
