.youtube {
  background: rgb(29,31,33);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  text-align: center;

  &__video {
    min-height: 90vh;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
