<div class="album">
  <h2 class="album__title title title--titleblack">Послушай наш <span class="title--titlepink">&nbsp;новый&nbsp;</span> альбом</h2>
  <div class="album__container">

    <div class="album-icons">
      <div class="pause"></div>
      <div class="player">
        <h2 class="player--title">7:30 утра</h2>
        <div class="line-player"></div>
      </div>
      <a href="http://vk.com/choco_tort">{% include './icon.html' with {title: "vk", size: "mid"} %}</a>
      <a href="http://itunes.com">{% include './icon.html' with {title: "itunes", size: "mid"} %}</a>
    </div>

    <div class="album-icons">
      <div class="play"></div>
      <div class="player">
        <h2 class="player--title">7:30 утра</h2>
        <div class="line-player"></div>
      </div>
      <a href="http://vk.com/choco_tort">{% include './icon.html' with {title: "vk", size: "mid"} %}</a>
      <a href="http://itunes.com">{% include './icon.html' with {title: "itunes", size: "mid"} %}</a>
    </div>

    <div class="album-icons">
      <div class="play"></div>
      <div class="player">
        <h2 class="player--title">7:30 утра</h2>
        <div class="line-player"></div>
      </div>
      <a href="http://vk.com/choco_tort">{% include './icon.html' with {title: "vk", size: "mid"} %}</a>
      <a href="http://itunes.com">{% include './icon.html' with {title: "itunes", size: "mid"} %}</a>
    </div>

    <div class="album-icons">
      <div class="play"></div>
      <div class="player">
        <h2 class="player--title">7:30 утра</h2>
        <div class="line-player"></div>
      </div>
      <a href="http://vk.com/choco_tort">{% include './icon.html' with {title: "vk", size: "mid"} %}</a>
      <a href="http://itunes.com">{% include './icon.html' with {title: "itunes", size: "mid"} %}</a>
    </div>

    <div class="album-icons">
      <div class="play"></div>
      <div class="player">
        <h2 class="player--title">7:30 утра</h2>
        <div class="line-player"></div>
      </div>
      <a href="http://vk.com/choco_tort">{% include './icon.html' with {title: "vk", size: "mid"} %}</a>
      <a href="http://itunes.com">{% include './icon.html' with {title: "itunes", size: "mid"} %}</a>
    </div>

  </div>
  <div class="album-button">
    {% include 'button.html' with {text: 'Купить альбом', url: '/album.html'} %}
  </div>
</div>
