<div class="concert">
    <div class="tour">
      <div class="tour__item">
        <h1 class="tour__item__place">Петербург</h1>
        <h1 class="tour__item__club">Aurora club</h1>
        <h1 class="tour__item__time">20.03.2056</h1>
        <div class="tour__line"></div>
      </div>

      <div class="tour__item">
        <h1 class="tour__item__place">Петербург</h1>
        <h1 class="tour__item__club">Aurora club</h1>
        <h1 class="tour__item__time">20.03.2056</h1>
        <div class="tour__line"></div>
      </div>

      <div class="tour__item">
        <h1 class="tour__item__place">Петербург</h1>
        <h1 class="tour__item__club">Aurora club</h1>
        <h1 class="tour__item__time">20.03.2056</h1>
        <div class="tour__line"></div>
      </div>

      <div class="tour__item">
        <h1 class="tour__item__place">Петербург</h1>
        <h1 class="tour__item__club">Aurora club</h1>
        <h1 class="tour__item__time">20.03.2056</h1>
        <div class="tour__line"></div>
      </div>

      <div class="tour__item">
        <h1 class="tour__item__place">Петербург</h1>
        <h1 class="tour__item__club">Aurora club</h1>
        <h1 class="tour__item__time">20.03.2056</h1>
        <div class="tour__line"></div>
      </div>

    </div>
  <div class="concert-button">
    {% include 'button.html' with {text: 'Посмотреть тур', url: '/concert.html'} %}
  </div>
</div>
