<div class="concertpage concertpage__container">
  <h1 class="title title--titlepink">Наш
  <span class="title--titlepink">&nbsp;тур&nbsp;</span>
  </h1>
    <div class="concertpage__item concertpage__item-first">
      <div class="concertpage-description">
        <h1 class="concertpage__item__place">Петербург</h1>
        <h1 class="concertpage__item__club">Aurora club</h1>
        <h1 class="concertpage__item__date">20/03/2056 <span class="concertpage__item__date--time">19:00-21:00</span></h1>
      </div>
      <div class="concertpage-tickets">
        <h1 class="concertpage__item__ticket">Стандартный</h1>
        <h1 class="concertpage__item__ticket">Фан-зона</h1>
        <h1 class="concertpage__item__ticket vip">VIP</h1>
      </div>
    </div>

    <div class="concertpage__item">
      <div class="concertpage-description">
        <h1 class="concertpage__item__place">Петербург</h1>
        <h1 class="concertpage__item__club">Aurora club</h1>
        <h1 class="concertpage__item__date">20/03/2056 <span class="concertpage__item__date--time">19:00-21:00</span></h1>
      </div>
      <div class="concertpage-tickets">
        <h1 class="concertpage__item__ticket">Стандартный</h1>
        <h1 class="concertpage__item__ticket">Фан-зона</h1>
        <h1 class="concertpage__item__ticket vip">VIP</h1>
      </div>
    </div>

    <div class="concertpage__item">
      <div class="concertpage-description">
        <h1 class="concertpage__item__place">Петербург</h1>
        <h1 class="concertpage__item__club">Aurora club</h1>
        <h1 class="concertpage__item__date">20/03/2056 <span class="concertpage__item__date--time">19:00-21:00</span></h1>
      </div>
      <div class="concertpage-tickets">
        <h1 class="concertpage__item__ticket">Стандартный</h1>
        <h1 class="concertpage__item__ticket">Фан-зона</h1>
        <h1 class="concertpage__item__ticket vip">VIP</h1>
      </div>
    </div>

    <div class="concertpage__item">
      <div class="concertpage-description">
        <h1 class="concertpage__item__place">Петербург</h1>
        <h1 class="concertpage__item__club">Aurora club</h1>
        <h1 class="concertpage__item__date">20/03/2056 <span class="concertpage__item__date--time">19:00-21:00</span></h1>
      </div>
      <div class="concertpage-tickets">
        <h1 class="concertpage__item__ticket">Стандартный</h1>
        <h1 class="concertpage__item__ticket">Фан-зона</h1>
        <h1 class="concertpage__item__ticket vip">VIP</h1>
      </div>
    </div>

    <div class="concertpage__item">
      <div class="concertpage-description">
        <h1 class="concertpage__item__place">Петербург</h1>
        <h1 class="concertpage__item__club">Aurora club</h1>
        <h1 class="concertpage__item__date">20/03/2056 <span class="concertpage__item__date--time">19:00-21:00</span></h1>
      </div>
      <div class="concertpage-tickets">
        <h1 class="concertpage__item__ticket">Стандартный</h1>
        <h1 class="concertpage__item__ticket">Фан-зона</h1>
        <h1 class="concertpage__item__ticket vip">VIP</h1>
      </div>
    </div>

    <div class="concertpage__item">
      <div class="concertpage-description">
        <h1 class="concertpage__item__place">Петербург</h1>
        <h1 class="concertpage__item__club">Aurora club</h1>
        <h1 class="concertpage__item__date">20/03/2056 <span class="concertpage__item__date--time">19:00-21:00</span></h1>
      </div>
      <div class="concertpage-tickets">
        <h1 class="concertpage__item__ticket">Стандартный</h1>
        <h1 class="concertpage__item__ticket">Фан-зона</h1>
        <h1 class="concertpage__item__ticket vip">VIP</h1>
      </div>
    </div>

  <div class="concertpage-button">
    {% include 'button.html' with {text: 'Показать ещё', url: '#'} %}
  </div>
</div>
