<div class=" fullalbum fullalbum__container">
      <h2 class="title title--titleblack">
        Наши <span class="title--titlepink">альбомы</span>
      </h2>
      <div class="album-list">
        <div class="line-container line-container--top">
          <div class="album-cover album-cover--img1">
            <div class="album-description">
              <a href="/monoalbum.html"> <h1 class="album-description__title title--titlepink">Третья ночь без сна</h1></a>
              <span class="album-description__title album-description__title--date">25/12/2015</span>
            </div>
          </div>

          <div class="album-cover album-cover--img2">
            <div class="album-description">
              <a href="/monoalbum.html"> <h1 class="album-description__title title--titlepink">Вдали от дома</h1></a>
              <span class="album-description__title album-description__title--date">04/05/2017</span>
            </div>
          </div>

          <div class="album-cover album-cover--img3">
            <div class="album-description">
              <a href="/monoalbum.html"> <h1 class="album-description__title title--titlepink">Третья ночь без сна</h1></a>
              <span class="album-description__title album-description__title--date">25/12/2015</span>
            </div>
          </div>
        </div>

        <div class="line-container">
          <div class="album-cover album-cover--img2">
            <div class="album-description">
              <a href="/monoalbum.html"> <h1 class="album-description__title title--titlepink">Вдали от дома</h1></a>
              <span class="album-description__title album-description__title--date">04/05/2017</span>
            </div>
          </div>

          <div class="album-cover album-cover--img1">
            <div class="album-description">
              <a href="/monoalbum.html"> <h1 class="album-description__title title--titlepink">Третья ночь без сна</h1></a>
              <span class="album-description__title album-description__title--date">25/12/2015</span>
            </div>
          </div>

          <div class="album-cover album-cover--img2">
            <div class="album-description">
              <a href="/monoalbum.html"> <h1 class="album-description__title title--titlepink">Вдали от дома</h1></a>
              <span class="album-description__title album-description__title--date">04/05/2017</span>
            </div>
          </div>
        </div>
      </div>
</div>
