{% set items =[
    {'title': 'Новости', 'url': '/news.html'}
  ]
%}
{% set networks =['twitter', 'facebook', 'youtube'] %}
<header class="header header--pink">
  <div class="header__logo"></div>
  <nav class="nav">
    {% for item in items %}
      {% include './header-item.html' with item %}
    {% endfor %}
  </nav>
  {% include './icon.html' with {title: "facebook", size: "small"} %}
  {% include './icon.html' with {title: "youtube"} %}  
  {% include './icon.html' with {title: "twitter"} %}
</header>

