{% set items =[
    {'title': 'Новости', 'url': '/news.html'},
    {'title': 'Альбомы', 'url': '/album.html'},
    {'title': 'Концерты', 'url': '/concert.html'},
    {'title': 'Видео', 'url': '/video.html'},
    {'title': 'Магазин', 'url': '/shop.html'},
  ]
%}
<header class="header header--pink">
  <div class="container header__container">
    <div class="header__logo">
      <a class="header__logo--link" href="/index.html"></a>
    </div>
    <nav class="nav header__nav">
      {% for item in items %}
        {% include './nav-item.html' with item %}
      {% endfor %}
    </nav>
    <div class="header__icons">
      <i><a href="https://www.youtube.com/channel/UCgE4mgF3WgzHcaF4ONlCRpw">{% include './icon.html' with {title: "youtube", size: "small"} %}</a></i>
      <i><a href="https://www.instagram.com/choco_tort/">{% include './icon.html' with {title: "instagram", size: "small"} %}</a></i>
      <i><a href="http://facebook.com">{% include './icon.html' with {title: "facebook", size: "small"} %}</a></i>
      <i><a href="http://twitter.com">{% include './icon.html' with {title: "twitter", size: "small"} %}</a></i>
      <i><a href="http://telegram.com">{% include './icon.html' with {title: "telegram", size: "small"} %}</a></i>
      <i><a href="https://chococake.bandcamp.com/releases">{% include './icon.html' with {title: "bandcamp", size: "small"} %}</a></i>
    </div>

    <button class="hamburger hamburger--spin open" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner">
          <!-- <a href="/news.html">Новости</a> -->
          <!-- <a href="/album.html">Альбомы</a>
          <a href="/concert.html">Концерты</a>
          <a href="/video.html">Видео</a>
          <a href="/shop.html">Магазин</a> -->
        </span>
      </span>
    </button>
  </div>
</header>

<ul class="active-menu" id="active-manu">
  <li class="active-menu__item"><a href="/news.html">Новости</a></li>
  <li class="active-menu__item"><a href="/album.html">Альбомы</a></li>
  <li class="active-menu__item"><a href="/concert.html">Концерты</a></li>
  <li class="active-menu__item"><a href="/video.html">Видео</a></li>
  <li class="active-menu__item"><a href="/shop.html">Магазин</a></li>
</ul>
