<div class="news">
  <h1 class="title title--titleblack">Узнавай о наших новостях <span class="title--titlepink">&nbsp;первым&nbsp;</span></h1>
  <div class="news__container">
    <div class="line-container">
      <div class="img img--img1">
        <span class="line-container__title-news line-container__title-news--date">9 декабря &mdash; Петербург</span>
        <a href="/news.html"> <h1 class="line-container__title-news">Презентация альбома</h1></a>
      </div>

      <div class="img img--img2">
        <span class="line-container__title-news line-container__title-news--date">9 декабря &mdash; Петербург</span>
        <a href="/news.html"> <h1 class="line-container__title-news">Презентация альбома</h1></a>
      </div>

      <div class="img img--img3">
        <span class="line-container__title-news line-container__title-news--date">9 декабря &mdash; Петербург</span>
        <a href="/news.html"> <h1 class="line-container__title-news">Презентация альбома</h1></a>
      </div>
    </div>

    <div class="line-container">
      <div class="img img--img2">
        <span class="line-container__title-news line-container__title-news--date">9 декабря &mdash; Петербург</span>
        <a href="/news.html"> <h1 class="line-container__title-news">Презентация альбома</h1></a>
      </div>

      <div class="img img--img3">
        <span class="line-container__title-news line-container__title-news--date">9 декабря &mdash; Петербург</span>
        <a href="/news.html"> <h1 class="line-container__title-news">Презентация альбома</h1></a>
      </div>

      <div class="img img--img1">
        <span class="line-container__title-news line-container__title-news--date">9 декабря &mdash; Петербург</span>
        <a href="/news.html"> <h1 class="line-container__title-news">Презентация альбома</h1></a>
      </div>
    </div>
  </div>
</div>
