<div class="newspage newspage__container">
  <h1 class="title title--titleblack">Наши
  <span class="title--titlepink">&nbsp;новости&nbsp;</span>
  </h1>

  <div class="newspage__row">
    <div class="newspage__item">
      <div class="newspage__item--image"></div>
      <h1 class="newspage__item--title">Новый альбом</h1>
      <h1 class="newspage__item--date">16/04/2017</h1>
      <p class="newspage__item--text">
        Йо, чекайте наш новый альбом!
        Шоколадный торт &mdash; Вдали от дома! 2017
      </p>
      <a href="newspage-item.html" class="newspage__item--link">Читать далее...</a>
      <div class="newspage__item--line"></div>
    </div>

    <div class="newspage__item">
      <div class="newspage__item--image"></div>
      <h1 class="newspage__item--title">Новый альбом</h1>
      <h1 class="newspage__item--date">16/04/2017</h1>
      <p class="newspage__item--text">
        Йо, чекайте наш новый альбом!
        Шоколадный торт &mdash; Вдали от дома! 2017
      </p>
      <a href="newspage-item.html" class="newspage__item--link">Читать далее...</a>
      <div class="newspage__item--line"></div>
    </div>

    <div class="newspage__item">
      <div class="newspage__item--image"></div>
      <h1 class="newspage__item--title">Новый альбом</h1>
      <h1 class="newspage__item--date">16/04/2017</h1>
      <p class="newspage__item--text">
        Йо, чекайте наш новый альбом!
        Шоколадный торт &mdash; Вдали от дома! 2017
      </p>
      <a href="newspage-item.html" class="newspage__item--link">Читать далее...</a>
      <div class="newspage__item--line"></div>
    </div>
  </div>

  <div class="newspage__row">
    <div class="newspage__item">
      <div class="newspage__item--image"></div>
      <h1 class="newspage__item--title">Новый альбом</h1>
      <h1 class="newspage__item--date">16/04/2017</h1>
      <p class="newspage__item--text">
        Йо, чекайте наш новый альбом!
        Шоколадный торт &mdash; Вдали от дома! 2017
      </p>
      <a href="newspage-item.html" class="newspage__item--link">Читать далее...</a>
      <div class="newspage__item--line"></div>
    </div>

    <div class="newspage__item">
      <div class="newspage__item--image"></div>
      <h1 class="newspage__item--title">Новый альбом</h1>
      <h1 class="newspage__item--date">16/04/2017</h1>
      <p class="newspage__item--text">
        Йо, чекайте наш новый альбом!
        Шоколадный торт &mdash; Вдали от дома! 2017
      </p>
      <a href="newspage-item.html" class="newspage__item--link">Читать далее...</a>
      <div class="newspage__item--line"></div>
    </div>

    <div class="newspage__item">
      <div class="newspage__item--image"></div>
      <h1 class="newspage__item--title">Новый альбом</h1>
      <h1 class="newspage__item--date">16/04/2017</h1>
      <p class="newspage__item--text">
        Йо, чекайте наш новый альбом!
        Шоколадный торт &mdash; Вдали от дома! 2017
      </p>
      <a href="newspage-item.html" class="newspage__item--link">Читать далее...</a>
      <div class="newspage__item--line"></div>
    </div>
  </div>

  <div class="newspage__more">
    <a href="#"><span class="title title--titleblack">Еще больше</span> <span class="title title--titlepink">новостей</span></a>
  </div>

  <div class="newspage__button">
    {% include 'button.html' with {text: 'Подписаться', url: '#'} %}
  </div>
</div>
