<div class="shoppage shoppage__container">
  <h1 class="title title--titleblack">Наш
  <span class="title--titlepink">&nbsp;магазин&nbsp;</span>
  </h1>
  <div class="shoppage__items">
    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>


      <div class="modal" id="modalWindow">
        <span class="modal__close" id="closeModal">
          {% include './icon.html' with {title: "close", size: "small", style: "gray"} %}
        </span>
        <!-- <div class="modal__photo"></div> -->
        <p class="modal__option"><b>Размер:</b> XL</p>
        <p class="modal__option"><b>Цвет:</b> Белый</p>
        <p class="modal__description"><b>Наш</b> мерч идеально впишется в вашу жизнь и станет любимой вещью</p>
        <div class="modal__button">
          {% include './icon.html' with {title: "heart", size: "small", style: "gray"} %}
        </div>
        <div class="modal__button">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </div>
      </div>
      <div class="overlay"></div>

      <div class="card__caption"><a href="/" id="openModal">Оформить заказ</a>
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>


    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption" id=""><a href="/">Оформить заказ</a>
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>

    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption"><a href="/">Оформить заказ</a>
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>
  </div>

  <div class="shoppage__items">
    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption"><a href="/">Оформить заказ</a>
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>

    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption"><a href="/">Оформить заказ</a>
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>

    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption"><a href="/">Оформить заказ</a>
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>
  </div>

  <div class="shoppage-button">
    {% include 'button.html' with {text: 'Показать ещё', url: '#'} %}
  </div>
</div>
