<div class="shop">
  <h1 class="title title--titleblack">Купи наш официальный<span class="title--titlepink">&nbsp;мерч&nbsp;</span> </h1>

  <div class="shop__container">

    <div class="cont">
    <div class="flex-photo">
    </div>
    <div class="descr">Белая футболка <b>1990 &#8381;</b></div>
      <div class="flex-item">
        {% include 'button.html' with {text: 'Купить', url: '/shop.html'} %}
      </div>
  </div>

  <div class="cont">
  <div class="flex-photo">
  </div>
  <div class="descr">Белая футболка <b>1990 &#8381;</b></div>
    <div class="flex-item">
      {% include 'button.html' with {text: 'Купить', url: '/shop.html'} %}
    </div>
  </div>

  <div class="cont">
  <div class="flex-photo">
  </div>
  <div class="descr">Белая футболка <b>1990 &#8381;</b></div>
    <div class="flex-item">
      {% include 'button.html' with {text: 'Купить', url: '/shop.html'} %}
    </div>
  </div>

</div>

<div class="button-shop">
  {% include 'button.html' with {text: 'Перейти в магазин', url: '/shop.html'} %}
</div>

</div>
