<div class="shoppage shoppage__container">
  <h1 class="title title--titleblack">Наш
  <span class="title--titlepink">&nbsp;магазин&nbsp;</span>
  </h1>
  <div class="shoppage__items">
    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption">Оформить заказ
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>

    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption">Оформить заказ
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>

    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption">Оформить заказ
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>
  </div>

  <div class="shoppage__items">
    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption">Оформить заказ
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>

    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption">Оформить заказ
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>

    <div class="card shoppage-item">
      <div class="card__photo">
      </div>
      <div class="card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="card__caption">Оформить заказ
        <a href="/" class="shopcart-icon">
          {% include './icon.html' with {title: "shopcart", size: "small", style: "gray"} %}
        </a>
      </div>
    </div>
  </div>

  <div class="shoppage-button">
    {% include 'button.html' with {text: 'Показать ещё', url: '#'} %}
  </div>
</div>
