<div class="shop">
  <h1 class="title title--titleblack">Купи наш официальный<span class="title--titlepink">&nbsp;мерч&nbsp;</span> </h1>
  <div class="shop__container">
    <div class="shop__container__card">
    <div class="shop__container__card__photo">
    </div>
    <div class="shop__container__card__caption">Белая футболка <b>1990 &#8381;</b></div>
      <div class="shop__container__card__button">
        {% include 'button.html' with {text: 'Купить', url: '/shop.html'} %}
      </div>
  </div>

  <div class="shop__container__card">
  <div class="shop__container__card__photo">
  </div>
  <div class="shop__container__card__caption">Белая футболка <b>1990 &#8381;</b></div>
    <div class="shop__container__card__button">
      {% include 'button.html' with {text: 'Купить', url: '/shop.html'} %}
    </div>
  </div>

  <div class="shop__container__card">
  <div class="shop__container__card__photo">
  </div>
  <div class="shop__container__card__caption">Белая футболка <b>1990 &#8381;</b></div>
    <div class="shop__container__card__button">
      {% include 'button.html' with {text: 'Купить', url: '/shop.html'} %}
    </div>
  </div>

</div>

<div class="shop-button">
  {% include 'button.html' with {text: 'Перейти в магазин', url: '/shop.html'} %}
</div>

</div>
