<div class="social">
  <div class="social__container">
    <h1 class="title title--titleblack">Найди нас<span class="title--titlepink">&nbsp;здесь&nbsp;</span></h1>
    <div class="social-icons">
      <div class="circle-icon"><a href="http://vk.com/choco_tort">{% include './icon.html' with {title: "vk", size: "big"} %}</a></div>
      <div class="circle-icon"><a href="http://soundcloud.com">{% include './icon.html' with {title: "sc", size: "big"} %}</a></div>
      <div class="circle-icon"><a href="http://itunes.com">{% include './icon.html' with {title: "itunes", size: "big"} %}</a></div>
    </div>

    <h1 class="title title--titleblack">Подпишись на рассылку</h1>
    <form action="#" class="follow">
      <input type="text" name="email" value="Email">
      <button type="button" name="button">Я согласен</button>
    </form>
  </div>
</div>
